$background: #131313;
$element: #1b1b1b;
$text: #e1e1e1;
$text-secondary: #585858;
$border: #ffffff0d;

* {
  font-family: CozetteVector;
  font-size: 14px;
}

button {
  all: unset;
  background: none;
  box-shadow: none;
  border: none;
} 