@use "sass:color";

$background: #131313;
$element: #1b1b1b;
$text: #e1e1e1;
$text-secondary: #585858;
$border: #ffffff0d;

* {
  font-family: CozetteVector;
  font-size: 14px;
}

button {
  all: unset;
  background: none;
  box-shadow: none;
  border: none;
}

.Bar {
  color: $text;

  .Widget {
    background-color: $background;
    padding: 0px 8px;
  }

  .Workspaces {
    padding: 0 4px;

    button {
      min-width: 18px;

      .workspace-indicator {
        color: $text-secondary;
        font-size: 14px;
      }

      .workspace-indicator.occupied {
        color: $text;
      }

      .workspace-indicator.focused {
        color: $text;
        font-size: 10px;
      }
    }
  }

  .CurrentWindow {
    .window-title {
      color: $text;
      font-size: 12px;
    }
  }

  .SysStats {
    padding: 0;

    .stat {
      background-color: $element;
      padding: 0 6px;
      min-height: 12px;
      font-size: 10px;
      margin: 2px 0;

      &:first-child {
        margin-left: 2px;
      }

      &:last-child {
        margin-right: 2px;
      }
    }
  }

  .Media {
    padding: 0;
    padding-right: 40px;

    .Cover {
      min-height: 24px;
      min-width: 24px;
      background-position: center;
      background-size: contain;
      margin-right: 40px;
    }
  }
}
