:root {
    --background: #121212;
    --background-soft: #1c1c1c;
    --border: #ffffff0d;
    --border-soft: #ffffff0d;
    --text: #e0e0e0;
    --text-active: #595959;

    --tag-background: #1c1c1c;

    --foreground: #1c1c1c;
    --foreground-soft: #1c1c1c;

    --error: #a92c23;
    --success: #afab1d;
    --warning: #e2a432;
}
