* {
  font-family: CozetteVector;
  font-size: 16px;
}

#window {
  background-color: rgba(0, 0, 0, 0);
}

box#main {
  background-color: #131313;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #e1e1e1;
}

entry#entry {
  background: transparent;
  box-shadow: none;
  border: none;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

#plugin {
  background-color: rgba(0, 0, 0, 0);
}

#match:selected {
  background-color: #1b1b1b;
  border: none;
  color: #e1e1e1;
}

label#match-desc {
  font-size: 12px;
  color: #585858;
}